#note-container {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  border-radius: 15px;
  text-align: center;
}
.red {
  background-color: indianred;
  cursor: pointer;
}
.center {
  margin-top: 15px;
  text-align: center;
}
#content-container{
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}
nav button, button {
  width: auto;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  background-color: #007bff;
  margin: 10px;
  color: #fff;
  font-size: 10pt;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
